.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  width: 1000px;
  height: 350px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}
img {
  border: 3px solid black;
  border-radius: 15px;
  padding: 5px;
  width: 150px;
  height:140px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
#overlay {
  position: fixed;
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); 
  z-index: 3; 
}
#loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#centered{
  position: absolute;
  top: 44%;
  height: 400px;
  margin-top: -200px; /* Half of the height */
  left: 46%;
  width:800px;
  margin-left: -400px; /* Half of the width */
  }